/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

/* Navegación */
nav {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.logo {
    width: 120px;
}
h2{
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos del header */
header {
    text-align: center;
    padding: 50px;
    background-color: #1e1e1e;
    color: white;
}

/* Secciones */
section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #1e1e1e;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

/* Inputs y botones */
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
button:hover {
    background-color: #666;
}

/* Lista de usuarios */
ul {
    list-style: none;
    padding: 0;
}
ul li {
    background: #2c2c2c;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    color: white;
}

.col-6{
    border: 1px solid #444;
    text-align: center;
}
.tituloGet{
    color: white;
}

/* Diseño responsive */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 10px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin: 10px 0;
    }
}