<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Frontend</title>
    <link rel="stylesheet" href="../css/styles.css">
    <style>
         table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
        }

        th, td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
        }

        td[contenteditable="true"] {
        background-color: #f9f9f9;
        cursor: text;
        }
    </style>
</head>
<body>

    <nav>
        <img src="../img/logocru.png" alt="CRUD System Logo" class="logo">
        <ul>
            <li><a href="index.html">Usuarios</a></li>
            <li><a href="serie_cat.html">Serie-Cat</a></li>
            <li><a href="series.html">Series</a></li>
            <li><a href="reseñas.html">Reseñas</a></li>
            <li><a href="peliscat.html">Pelis-Cat</a></li>
            <li><a href="pelis.html">Pelis</a></li>
            <li><a href="histovi.html">Histo-visuali</a></li>
            <li><a href="comentarios.html">Comentarios</a></li>
            <li><a href="categorias.html">Categorias</a></li>
        </ul>
    </nav>
    
    <header>
        <h1>Bienvenido a la Landing Page</h1>
    </header>
    
    <h2 style="margin: 0 auto;">Historial visualizacion</h2>
  <table>
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Contenido</th>
        <th>Tipo-contenido</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
      </tr>
      <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
      </tr>
      <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
      </tr>
      <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
      </tr>
      <tr>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
        <td contenteditable="true"></td>
      </tr>
    </tbody>
  </table>
    
    
    <script src="script.js"></script>
</body>
</html>