<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Series-Categorías</title>
  <link rel="stylesheet" href="../css/bootstrap-5.3.3-dist/css/bootstrap.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>
<body>

  <nav>
    <img src="../img/logocru.png" alt="CRUD System Logo" class="logo">
    <ul>
      <!-- Tus enlaces de navegación -->
      <li><a href="serie_cat.html">Serie-Cat</a></li>
      <!-- ... -->
    </ul>
  </nav>

  <header>
    <h1>Relación Serie - Categoría</h1>
  </header>

  <section id="register">
    <h2>Registrar Relación</h2>
    <input type="number" id="serie_id" placeholder="ID Serie">
    <input type="number" id="categoria_id" placeholder="ID Categoría">
    <button onclick="registrarRelacion()" id="btnRegistrarRelacion">Registrar</button>
  </section>

  <section id="list">
    <h2>Relaciones Serie - Categoría</h2>
    <div class="relaciones" id="relaciones"></div>
  </section>

  <script src="js/serie_cat.js"></script>
</body>
</html>
